body { /*Style for body*/
    background-color: rgb(250, 249, 249);
    background-image: url('https://i.ytimg.com/vi/mGiHyi8_Qq8/maxresdefault.jpg');
    background-size: cover; 
  }

  h1 { /*Style for h1*/
    color: rgb(37, 145, 23);
  }

  p { /*Style for paragraph*/
    color: rgb(0, 0, 0);
  }

  /*Variable definition*/
  :root {
    --progreso: 0; /*Initial value*/
  }

  progress[value] {
    --progreso: calc(min(100, max(0, var(--progreso)))* 1%);
  }

  progress[value]::-webkit-progress-value{
    background-color: aqua;
    width: var(--progreso);
  }